################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.csv
*.vs
*bin
*obj
/ChiaTaxesV3/Form8949Generator/8949 term.pdf
