################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChiaTaxesV3/long term profit loss 8949.csv
